body {
 background-color: rgb(135, 199, 222);
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 100px;
  line-height: 20px;
  list-style: none;
  margin-top: 30px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    width: 800px;
    margin-top: 200px;
}
img {
  width: 200px;
  height: 200px;
}
.rocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.papers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scissorss {
  display: flex;
  flex-direction: column;
  align-items: center;
}